.recent-courses{

background:#111827;
padding:20px;
border-radius:16px;
margin-bottom:20px;
color:#fff;

}

.course-item{

display:flex;
align-items:center;
gap:16px;

background:#1f2937;

padding:12px;

border-radius:10px;

margin-top:12px;

}

.course-item img{

width:72px;
height:72px;
object-fit:cover;
border-radius:10px;

}

.course-item h4{

margin:0;

}

.course-item p{

margin-top:6px;
color:#94a3b8;

}
